body
{
    background: #E3E3E3;
    background: linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
    background: -webkit-linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
    background: -moz-linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
    background: -o-linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
    background: -ms-linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
    background: linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
    -svg-background: linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
    margin: 0 auto;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;
}

table
{
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
    text-align: left;
}

body, li, table, a, a:link, a:visited, a.visited, a:hover, a.hovered
{
    font-size: 15px;
    font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    line-height: 175%;
}

p
{
    margin: 13px 0;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover, h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover, h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover, h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover, h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover, h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 120%;
}

a, a:link
{
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    color: #5B9DBE;
}

a:visited, a.visited
{
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    color: #5B9DBE;
}

a:hover, a.hover
{
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    color: #4AC3CC;
}

h1
{
    color: #4E94B7;
    margin: 10px 0 0;
    font-size: 26px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h1 a, h1 a:link, h1 a:hover, h1 a:visited
{
    font-size: 26px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h2
{
    color: #4E94B7;
    margin: 10px 0 0;
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h2 a, h2 a:link, h2 a:hover, h2 a:visited
{
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h3
{
    color: #4AC3CC;
    margin: 10px 0 0;
    font-size: 20px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h3 a, h3 a:link, h3 a:hover, h3 a:visited
{
    font-size: 20px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h4
{
    color: #4E94B7;
    margin: 10px 0 0;
    font-size: 18px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h4 a, h4 a:link, h4 a:hover, h4 a:visited
{
    font-size: 18px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h5
{
    color: #4E94B7;
    margin: 10px 0 0;
    font-size: 15px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h5 a, h5 a:link, h5 a:hover, h5 a:visited
{
    font-size: 15px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h6
{
    color: #4E94B7;
    margin: 10px 0 0;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h6 a, h6 a:link, h6 a:hover, h6 a:visited
{
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, nav
{
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
}

header, footer, nav
{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul
{
    list-style-type: none;
}

ol
{
    list-style-position: inside;
}

html, body
{
    height: 100%;
}

body
{
    padding: 0;
    margin: 0;
    min-width: 960px;
    color: #303F50;
}

.clearfix:after
{
    clear: both;
    font: 0/0 serif;
    display: block;
    content: " ";
}

form
{
    padding: 0 !important;
    margin: 0 !important;
}

table.position
{
    position: relative;
    width: 100%;
    table-layout: fixed;
}

li h1, li h1
{
    margin: 1px;
}

li h2, li h2
{
    margin: 1px;
}

li h3, li h3
{
    margin: 1px;
}

li h4, li h4
{
    margin: 1px;
}

li h5, li h5
{
    margin: 1px;
}

li h6, li h6
{
    margin: 1px;
}

li p, li p
{
    margin: 1px;
}

input, select, textarea
{
    vertical-align: middle;
    font-size: 13px;
    font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
    background: #F9FAFB;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #B9C2CB;
    margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
    width: auto;
    padding: 8px 0;
    color: #3D5166 !important;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
}

a img
{
    border: 0;
}

body img
{
    margin: 7px 7px 7px 7px;
}

body table
{
    border-collapse: collapse;
    margin: 1px;
}

body th, body td
{
    padding: 2px;
    border: solid 1px #EFF2F5;
    vertical-align: top;
    text-align: left;
}

body th
{
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

pre
{
    overflow: auto;
    padding: 0.1em;
}

.image-caption-wrapper
{
    padding: 7px 7px 7px 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper img
{
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper p
{
    font-size: 80%;
    text-align: right;
    margin: 0;
}

ul>li:before
{
    content: url('images/postbullets.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera  ul>li:before
{
    bottom: 0;
}

li
{
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #303F50;
    margin: 3px 0 0 11px;
}

ul>li, ol
{
    padding: 0;
}

ul>li
{
    padding-left: 10px;
}

ul>li:before
{
    margin-left: -10px;
}

ol, ul
{
    margin: 1em 0 1em 11px;
}

li ol, li ul
{
    margin: 0.5em 0 0.5em 11px;
}

li
{
    margin: 3px 0 0 0;
}

ol>li
{
    overflow: visible;
}

ul>li
{
    overflow-x: visible;
    overflow-y: hidden;
}

blockquote
{
    background: url('images/postquote.png') no-repeat scroll;
    padding: 10px 10px 10px 47px;
    margin: 10px 0 0 25px;
    color: #0D1216;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    overflow: auto;
    clear: both;
}

blockquote a, blockquote a, blockquote a:link, blockquote a:link, blockquote a:visited, blockquote a:visited, blockquote a:hover, blockquote a:hover
{
    color: #0D1216;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

blockquote p, blockquote p
{
    margin: 0;
    margin: 5px 0;
}

.Sorter img
{
    border: 0;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    position: static;
    z-index: 1;
    width: 12px;
    height: 6px;
}

.Sorter a
{
    position: relative;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #647587;
}

.Sorter a:link
{
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #647587;
}

.Sorter a:visited, .Sorter a.visited
{
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #647587;
}

.Sorter a:hover, .Sorter a.hover
{
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #4C5967;
}

.Sorter
{
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #364049;
}

body
{
    overflow: auto !important;
}

li.cke_panel_listItem
{
	padding-left: 0;
}

li.cke_panel_listItem:before
{
	content: none;
}