/* Theme by Frank Uche  */

.responsive body
{
   min-width: 240px;
}
  
.responsive .start-content-layout img,
.responsive .start-content-layout video
{
   max-width: 100%;
   height: auto !important;
}

.responsive.responsive-phone .start-content-layout img 
{
   float: none !important;
}
    
.responsive .start-content-layout .start-sidebar0, 
.responsive .start-content-layout .start-sidebar1, 
.responsive .start-content-layout .start-sidebar2 
{
   width: auto !important;
}
    
.responsive .start-content-layout, 
.responsive .start-content-layout-row, 
.responsive .start-layout-cell 
{
   display: block;
}
    
.responsive .image-caption-wrapper 
{
   width: auto;
}

.responsive.responsive-tablet .start-vmenublock,
.responsive.responsive-tablet .start-block
{
   margin-left: 1%;
   margin-right: 1%;
   width: 48%;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.responsive .start-responsive-embed 
{
   position: relative;
   padding-bottom: 56.25%;
   /* 16:9 */
	height: 0;
}

.responsive .start-responsive-embed iframe,
.responsive .start-responsive-embed object,
.responsive .start-responsive-embed embed
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.responsive .start-sheet
{
   width: auto !important;
   min-width: 240px !important;
   max-width: none;
   margin-right: 1% !important;
   margin-left: 1% !important;
}

#start-resp {
   display: none;
}

@media all and (max-width: 959px)
{
    #start-resp, #start-resp-t { display: block; }
    #start-resp-m { display: none; }
}

@media all and (max-width: 480px)
{
    #start-resp, #start-resp-m { display: block; }
    #start-resp-t { display: none; }
}

.responsive .start-header 
{
   width: auto;
   height: auto;
   min-height: 100px;
   min-width: 1%;
   background-position: center center !important;
   background-size: cover !important;
   background-repeat: repeat !important;
}

.responsive .start-header .start-headline, 
.responsive .start-header .start-slogan 
{
   display: block !important;
   top: 0 !important;
   left: 0 !important;
   margin: 2% !important;
}
    
.responsive .start-header .start-headline a, 
.responsive .start-header .start-slogan 
{
   white-space: normal !important;
}
  
.responsive .start-header *
{
   position: relative;
   text-align: center;
   -webkit-transform: none !important;
   -moz-transform: none !important;
   -o-transform: none !important;
   -ms-transform: none !important;
   transform: none !important;
}

.responsive .start-header #start-flash-area,
.responsive .start-header .start-shapes>*
{
   display: none;
}

.responsive #start-header-bg 
{
   background-position: center center !important;
   background-size: cover !important;
   background-repeat: repeat !important;
}

/* Search and other elements in header element directly */
.responsive .start-header>.start-textblock
{
   position: relative !important;
   display: block !important;
   margin: 1% auto !important;
   width: 75% !important;
   top: auto !important;
   right: auto !important;
   bottom: auto !important;
   left: auto !important;
}

/* For icons like facebook, rss, etc. */
.responsive .start-header>.start-textblock>div 
{
   width: 100%;
}
/* dynamic width nav */
.start-nav .start-menu-btn 
{
   border: 1px solid #404040;
   border-radius: 3px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
   display: none;
   background: -ms-linear-gradient(top, #707070 0, #000 100%);
   background: -moz-linear-gradient(top, #707070 0, #000 100%);
   background: -o-linear-gradient(top, #707070 0, #000 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707070), color-stop(1, #000));
   background: -webkit-linear-gradient(top, #707070 0, #000 100%);
   background: linear-gradient(to bottom, #707070 0, #000 100%);
   margin: 3px;
   padding: 5px;
   position: relative;
   width: 20px;
}

.start-nav .start-menu-btn span 
{
   background: #E0E0E0;
   border-radius: 2px;
   display: block;
   height: 3px;
   margin: 3px 1px;
   position: relative;
   -moz-transition: background .2s;
   -o-transition: background .2s;
   -webkit-transition: background .2s;
   transition: background .2s;
}

.start-nav .start-menu-btn:hover span
{
   background: #f3f3f3;
}

.responsive .start-nav .start-menu-btn 
{
   display: inline-block;
}

.responsive nav.start-nav,
.responsive .start-nav-inner
{
   width: auto !important;
   position: relative !important;
   top: auto !important;
   left: auto !important;
   right: auto !important;
   bottom: auto !important;
   margin-top: 0;
   margin-bottom: 0;
   min-width: 0;
   text-align: left !important;
}

.responsive nav.start-nav
{
   min-width: 1%;
}

.responsive .start-nav 
{
   padding-left: 0;
   padding-right: 0;
}

/* full width hmenu, instead of inline-block */
.responsive .start-nav ul.start-hmenu 
{
   display: none;
   float: none;
   text-align: center;
}

.responsive .start-nav .start-hmenu.visible 
{
   display: block;
}

/* elements on different lines */
.responsive .start-nav ul.start-hmenu li,
.start-hmenu-extra1,
.start-hmenu-extra2
{
   float: none;
}
  
/* horizontal margins */
.responsive .start-nav ul.start-hmenu>li:first-child, 
.responsive .start-nav ul.start-hmenu>li:last-child, 
.responsive .start-nav ul.start-hmenu>li
{
   margin-left: 0;
   margin-right: 0;
}
 
/* separator */ 
.responsive .start-nav ul.start-hmenu>li:before
{
   display: none;
}

/* vertical distance between items */
.responsive .start-nav ul.start-hmenu a
{
   margin-top: 1px !important;
   margin-bottom: 1px !important;
   text-align: center !important;
   height: auto;
   white-space: normal;
}

.responsive .start-nav ul.start-hmenu>li:first-child>a
{
   margin-top: 0 !important;
}

.responsive .start-nav ul.start-hmenu>li:last-child>a
{
   margin-bottom: 0 !important;
}

/* fixes for extended menu */
.responsive .start-nav .ext, 
.responsive .start-nav ul.start-hmenu>li>ul, 
.responsive .start-nav ul.start-hmenu>li>ul>li,
.responsive .start-nav ul.start-hmenu>li>ul>li a
{
   width: auto !important;
}

/* submenu position on hover */
.responsive .start-nav ul.start-hmenu ul
{
   left: auto !important;
   right: auto !important;
   top: auto !important;
   bottom: auto !important;
   display: none !important;
   position: relative !important;
   visibility: visible !important;
}

.responsive .start-nav ul.start-hmenu>li>ul>li:first-child:after 
{
   display: none;
}
.responsive .start-nav ul.start-hmenu ul a
{
   padding-left: 4% !important;
}
.responsive .start-nav ul.start-hmenu ul ul a
{
   padding-left: 6% !important;
}
.responsive .start-nav ul.start-hmenu ul ul ul a
{
   padding-left: 8% !important;
}
.responsive .start-nav ul.start-hmenu ul ul ul ul a
{
   padding-left: 10% !important;
}
.responsive .start-nav ul.start-hmenu ul ul ul ul ul a
{
   padding-left: 12% !important;
}
  
.responsive .start-nav ul.start-hmenu>li>ul
{
   padding: 5px;
}
  
.responsive .start-nav ul.start-hmenu>li>ul:before
{
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.responsive .start-content-layout, 
.responsive .start-content-layout-row, 
.responsive .start-layout-cell 
{
   display: block;
}

.responsive .start-layout-cell 
{
   width: auto !important;
   height: auto !important;
   border-right-width: 0 !important;
   border-left-width: 0 !important;
   border-radius: 0 !important;
}

.responsive .start-content-layout:after, 
.responsive .start-content-layout-row:after, 
.responsive .start-layout-cell:after 
{
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

.responsive .start-post
{
   border-radius: 0;
}

.responsive .start-footer-inner
{
   min-width: 0;
}

.responsive .responsive-tablet-layout-cell 
{
   width: 50% !important;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

