/* Theme by Frank Uche  */

.start-header, #start-header-bg, .start-layout-cell, .start-layout-wrapper, .start-footer, .start-nav, #start-hmenu-bg, .start-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.start-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.start-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#start-header-bg 
{
   display: none;
}

.start-hmenu>li, .start-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.start-hmenu, ul.start-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#start-hmenu-bg 
{
   display: none;
}

ul.start-hmenu>li:first-child {
   padding-right:10px;
}

ul.start-hmenu ul{
   background-color: rgba(255, 255, 255, 0.9) !important;
}

.start-content-layout, .start-content-layout-row, .start-layout-cell 
{
   display: block;
   zoom: 1;
}
.start-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.start-vmenu, ul.start-vmenu ul, ul.start-vmenu li{
   zoom: 1;
}

ul.start-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.start-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.start-search div>input[type="text"]
{
   width: 100%;
}

* html form.start-search>input[type="text"] 
{
   margin :0;
}

.start-postheadericons span{
   zoom: 1;
}
.start-postcontent {
   height: 1%;
}

.start-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.start-sidebar2 
{
   width: auto;
   float:none;
}

