/* Theme by Frank Uche  */

#start-main
{
   background: #E3E3E3;
   background: linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
   background: -webkit-linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
   background: -moz-linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
   background: -o-linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
   background: -ms-linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
   background: linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
   -svg-background: linear-gradient(top, #DEDEDE 0, #DEDEDE 630px, #BDBDBD 1050px) no-repeat;
   margin:0 auto;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.start-hmenu
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.start-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #02AFDB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   padding:0 20px;
   margin:0 auto;
   height:23px;
}

.start-postcontent,
.start-postheadericons,
.start-postfootericons,
.start-blockcontent,
ul.start-vmenu a 
{
   text-align: left;
}

.start-postcontent,
.start-postcontent li,
.start-postcontent table,
.start-postcontent a,
.start-postcontent a:link,
.start-postcontent a:visited,
.start-postcontent a.visited,
.start-postcontent a:hover,
.start-postcontent a.hovered
{
   font-size: 15px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.start-postcontent p
{
   margin: 13px 0;
}

.start-postcontent h1, .start-postcontent h1 a, .start-postcontent h1 a:link, .start-postcontent h1 a:visited, .start-postcontent h1 a:hover,
.start-postcontent h2, .start-postcontent h2 a, .start-postcontent h2 a:link, .start-postcontent h2 a:visited, .start-postcontent h2 a:hover,
.start-postcontent h3, .start-postcontent h3 a, .start-postcontent h3 a:link, .start-postcontent h3 a:visited, .start-postcontent h3 a:hover,
.start-postcontent h4, .start-postcontent h4 a, .start-postcontent h4 a:link, .start-postcontent h4 a:visited, .start-postcontent h4 a:hover,
.start-postcontent h5, .start-postcontent h5 a, .start-postcontent h5 a:link, .start-postcontent h5 a:visited, .start-postcontent h5 a:hover,
.start-postcontent h6, .start-postcontent h6 a, .start-postcontent h6 a:link, .start-postcontent h6 a:visited, .start-postcontent h6 a:hover,
.start-blockheader .t, .start-blockheader .t a, .start-blockheader .t a:link, .start-blockheader .t a:visited, .start-blockheader .t a:hover,
.start-vmenublockheader .t, .start-vmenublockheader .t a, .start-vmenublockheader .t a:link, .start-vmenublockheader .t a:visited, .start-vmenublockheader .t a:hover,
.start-headline, .start-headline a, .start-headline a:link, .start-headline a:visited, .start-headline a:hover,
.start-slogan, .start-slogan a, .start-slogan a:link, .start-slogan a:visited, .start-slogan a:hover,
.start-postheader, .start-postheader a, .start-postheader a:link, .start-postheader a:visited, .start-postheader a:hover
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.start-postcontent a, .start-postcontent a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #5B9DBE;
}

.start-postcontent a:visited, .start-postcontent a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #5B9DBE;
}

.start-postcontent  a:hover, .start-postcontent a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #4AC3CC;
}

.start-postcontent h1
{
   color: #4E94B7;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h1 a, .start-postcontent h1 a:link, .start-postcontent h1 a:hover, .start-postcontent h1 a:visited, .start-blockcontent h1 a, .start-blockcontent h1 a:link, .start-blockcontent h1 a:hover, .start-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h2
{
   color: #4E94B7;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h2 a, .start-postcontent h2 a:link, .start-postcontent h2 a:hover, .start-postcontent h2 a:visited, .start-blockcontent h2 a, .start-blockcontent h2 a:link, .start-blockcontent h2 a:hover, .start-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h3
{
   color: #4AC3CC;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h3 a, .start-postcontent h3 a:link, .start-postcontent h3 a:hover, .start-postcontent h3 a:visited, .start-blockcontent h3 a, .start-blockcontent h3 a:link, .start-blockcontent h3 a:hover, .start-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h4
{
   color: #4E94B7;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h4 a, .start-postcontent h4 a:link, .start-postcontent h4 a:hover, .start-postcontent h4 a:visited, .start-blockcontent h4 a, .start-blockcontent h4 a:link, .start-blockcontent h4 a:hover, .start-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h5
{
   color: #4E94B7;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h5 a, .start-postcontent h5 a:link, .start-postcontent h5 a:hover, .start-postcontent h5 a:visited, .start-blockcontent h5 a, .start-blockcontent h5 a:link, .start-blockcontent h5 a:hover, .start-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h6
{
   color: #4E94B7;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-postcontent h6 a, .start-postcontent h6 a:link, .start-postcontent h6 a:hover, .start-postcontent h6 a:visited, .start-blockcontent h6 a, .start-blockcontent h6 a:link, .start-blockcontent h6 a:hover, .start-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #start-hmenu-bg, .start-sheet, .start-hmenu a, .start-vmenu a, .start-slidenavigator > a, .start-checkbox:before, .start-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #start-hmenu-bg, .start-sheet, .start-slidenavigator > a, .start-checkbox:before, .start-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 960px;
   color: #303F50;
}

.start-header:before, #start-header-bg:before, .start-layout-cell:before, .start-layout-wrapper:before, .start-footer:before, .start-nav:before, #start-hmenu-bg:before, .start-sheet:before
{
   width: 100%;
   content: " ";
   display: table;
}
.start-header:after, #start-header-bg:after, .start-layout-cell:after, .start-layout-wrapper:after, .start-footer:after, .start-nav:after, #start-hmenu-bg:after, .start-sheet:after,
.cleared, .clearfix:after {
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .start-postcontent li h1, .start-blockcontent li h1 
{
   margin:1px;
} 
li h2, .start-postcontent li h2, .start-blockcontent li h2 
{
   margin:1px;
} 
li h3, .start-postcontent li h3, .start-blockcontent li h3 
{
   margin:1px;
} 
li h4, .start-postcontent li h4, .start-blockcontent li h4 
{
   margin:1px;
} 
li h5, .start-postcontent li h5, .start-blockcontent li h5 
{
   margin:1px;
} 
li h6, .start-postcontent li h6, .start-blockcontent li h6 
{
   margin:1px;
} 
li p, .start-postcontent li p, .start-blockcontent li p 
{
   margin:1px;
}


.start-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.start-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.start-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.start-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.start-object573331347 h1, 
.start-object573331347 h2, 
.start-object573331347 h3, 
.start-object573331347 h4, 
.start-object573331347 h5, 
.start-object573331347 h6, 
.start-object573331347 p, 
.start-object573331347 a, 
.start-object573331347 ul, 
.start-object573331347 ol, 
.start-object573331347 li
{
  line-height: 100%;
}

.start-object573331347
{  
  position: absolute;
  top: 17px;
  left: 3.44%;
  margin-left: -2px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
    overflow: hidden;
      z-index: 1;
  width: 60px;
  height: 60px;
}

.start-object573331347-text-container 
{
    display: table;
}
.start-object573331347-text
{
  line-height: 100%;
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 60px;
  width: 60px;  
word-wrap: break-word;
}

.start-object573331347-text,
.start-object573331347-text a.start-rss-tag-icon,
.start-object573331347-text a.start-facebook-tag-icon,
.start-object573331347-text a.start-twitter-tag-icon
{
font-size: 30px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-align: left;
vertical-align: middle;
  color: #272E35 !important;
}

.start-textblock ul > li
{
    background-position-y: 8px !important;
}
.start-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 10px;
  left: 12.92%;
  line-height: 100%;
  margin-left: -26px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 101;
}

.start-headline, 
.start-headline a, 
.start-headline a:link, 
.start-headline a:visited, 
.start-headline a:hover
{
font-size: 28px;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 1.4px 1.4px 0px rgba(23, 23, 23, 0.81);
  padding: 0;
  margin: 0;
  color: #404040 !important;
  white-space: nowrap;
}
.start-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 49px;
  left: 15.35%;
  line-height: 100%;
  margin-left: -50px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 103;
  white-space: nowrap;
}

.start-slogan, 
.start-slogan a, 
.start-slogan a:link, 
.start-slogan a:visited, 
.start-slogan a:hover
{
font-size: 16px;
font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  padding: 0;
  margin: 0;
  color: #111417 !important;
}
.start-object846547830 h1, 
.start-object846547830 h2, 
.start-object846547830 h3, 
.start-object846547830 h4, 
.start-object846547830 h5, 
.start-object846547830 h6, 
.start-object846547830 p, 
.start-object846547830 a, 
.start-object846547830 ul, 
.start-object846547830 ol, 
.start-object846547830 li
{
  line-height: 100%;
}

.start-object846547830
{  
  position: absolute;
  top: 26px;
  left: 97.56%;
  margin-left: -175px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
      z-index: 102;
  width: 180px;
  height: 34px;
}







.start-sheet
{
   background: #FFFFFF;
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 960px;
   z-index: auto !important;
}

.start-header
{
   margin:0 auto;
   height: 110px;
   background-image: url('images/object573331347.png'), url('images/header.png');
   background-position: 31px 17px, 0 0;
   background-repeat: no-repeat;
   position: relative;
   z-index: auto !important;
}

.responsive .start-header 
{
   background-image: url('images/header.png');
   background-position: center center;
}

.start-header > .region, .start-header > .block 
{
   position:absolute;
   z-index:101;
}

.start-nav
{
   margin:0 auto;
   position: relative;
   z-index: 499;
   text-align: left;
}

ul.start-hmenu a, ul.start-hmenu a:link, ul.start-hmenu a:visited, ul.start-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.start-hmenu, ul.start-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.start-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.start-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.start-hmenu:after, ul.start-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.start-hmenu, ul.start-hmenu ul 
{
   min-height: 0;
}

ul.start-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
}

.start-nav:before 
{
   content:' ';
}

.start-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.start-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.start-hmenu
{
   float: left;
}

.start-menuitemcontainer
{
   margin:0 auto;
}
ul.start-hmenu>li {
   margin-left: 10px;
}
ul.start-hmenu>li:first-child {
   margin-left: 5px;
}
ul.start-hmenu>li:last-child, ul.start-hmenu>li.last-child {
   margin-right: 5px;
}

ul.start-hmenu>li>a
{
   border-bottom:5px solid transparent;
   padding:0 19px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 43px;
   cursor: pointer;
   text-decoration: none;
   color: #747474;
   line-height: 43px;
   text-align: center;
}

.start-hmenu a, 
.start-hmenu a:link, 
.start-hmenu a:visited, 
.start-hmenu a.active, 
.start-hmenu a:hover
{
   font-size: 18px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

ul.start-hmenu>li>a.active
{
   border-bottom:5px solid #02AFDB;
   padding:0 19px;
   margin:0 auto;
   color: #02AFDB;
   text-decoration: none;
}

ul.start-hmenu>li>a:visited, 
ul.start-hmenu>li>a:hover, 
ul.start-hmenu>li:hover>a {
   text-decoration: none;
}

ul.start-hmenu>li>a:hover, .desktop ul.start-hmenu>li:hover>a
{
   border-bottom:5px solid #02AFDB;
   padding:0 19px;
   margin:0 auto;
}
ul.start-hmenu>li>a:hover, 
.desktop ul.start-hmenu>li:hover>a {
   color: #02AFDB;
   text-decoration: none;
}

ul.start-hmenu li li a
{
   background: #B9C2CB;
   background: transparent;
   padding:0 10px;
   margin:0 auto;
}
ul.start-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 2px;
   margin-bottom: 2px;
}

.desktop ul.start-hmenu li li ul>li:first-child 
{
   margin-top: 2px;
}

ul.start-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.start-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 26px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 26px;
   color: #747474;
   font-size: 14px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.start-hmenu ul a:link, 
.start-hmenu ul a:visited, 
.start-hmenu ul a.active, 
.start-hmenu ul a:hover
{
   text-align: left;
   line-height: 26px;
   color: #747474;
   font-size: 14px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.desktop ul.start-hmenu>li>ul>li
{
   margin-top: 0;
   margin-bottom: 0;
}

.desktop .start-hmenu>li>ul>li>a
{
   font-weight: bold !important;
}
.desktop .start-hmenu>li>ul>li
{
   float: left;
}
.desktop .start-hmenu>li>ul>li>ul
{
   position: relative;
   left: 0 !important;
   right: auto !important;
   padding: 0 !important;
   margin: 0 !important;
}
.desktop .start-hmenu>li:hover>ul>li>ul
{
   visibility: visible;
}
.desktop .start-hmenu>li>ul>li>ul:before
{
   visibility: hidden;
}

ul.start-hmenu li li:after
{
   display: block;
   position: absolute;
   content: ' ';
   height: 0;
   top: -1px;
   left: 0;
   right: 0;
   z-index: 1;
   border-bottom: 1px solid #F9FAFB;
}

.desktop ul.start-hmenu>li>ul>li:after, 
.desktop ul.start-hmenu>li>ul>li:before
{
   display: none;
}
.desktop ul.start-hmenu li li:after
{
   left: 5px;
   right: 5px;
}

ul.start-hmenu ul li a:hover
{
   background: #F5F5F5;
   background: transparent;
   margin:0 auto;
}
.start-hmenu ul a:hover
{
   text-decoration: none;
}

.start-hmenu ul li a:hover
{
   color: #02AFDB;
}

.desktop .start-hmenu ul li:hover>a
{
   color: #02AFDB;
}

ul.start-hmenu ul:before
{
   background: #FFFFFF;
   background: rgba(255, 255, 255, 0.9);
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.start-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.start-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.start-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.start-hmenu>li>ul
{
   padding: 15px 35px 35px 35px;
   margin: -10px 0 0 -30px;
}

.desktop ul.start-hmenu ul ul
{
   padding: 35px 35px 35px 15px;
   margin: -35px 0 0 -5px;
}

.desktop ul.start-hmenu ul.start-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.start-hmenu ul.start-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.start-hmenu li li:hover>ul.start-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.start-hmenu li li:hover>ul.start-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.start-hmenu ul ul.start-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 35px 35px 35px 15px;
   margin: -35px 0 0 -5px;
}

.desktop ul.start-hmenu ul ul.start-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 35px 15px 35px 35px;
   margin: -35px -5px 0 0;
}

.desktop ul.start-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.start-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.start-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop ul.start-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.start-hmenu>li>ul.start-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.start-hmenu>li>ul.start-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.start-hmenu ul ul.start-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop ul.start-hmenu ul ul.start-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.start-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.start-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.start-content-layout-row 
{
   display: table-row;
}

.start-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.start-postcontent .start-content-layout
{
   border-collapse: collapse;
}

div.start-vmenublock img
{
   margin: 0;
}

.start-vmenublockcontent
{
   margin:0 auto;
}

ul.start-vmenu, ul.start-vmenu ul
{
   list-style: none;
   display: block;
}

ul.start-vmenu, ul.start-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.start-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.start-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul.start-vmenu ul.active
{
   display: block;
}

ul.start-vmenu>li>a
{
   padding:0 15px;
   margin:0 auto;
   color: #5B9DBE;
   min-height: 38px;
   line-height: 38px;
}
ul.start-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   font-size: 16px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   position:relative;
}

ul.start-vmenu li{
   position:relative;
}

ul.start-vmenu>li
{
   margin-top: 1px;
}
ul.start-vmenu>li>ul
{
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
}
ul.start-vmenu>li:first-child
{
   margin-top:0;
}

ul.start-vmenu>li>a:hover, ul.start-vmenu>li>a.active:hover
{
   padding:0 15px;
   margin:0 auto;
}
ul.start-vmenu>li>a:hover, ul.start-vmenu>li>a.active:hover
{
   text-decoration: none;
}

ul.start-vmenu a:hover, ul.start-vmenu a.active:hover 
{
   color: #4AC3CC;
}

ul.start-vmenu>li>a.active:hover>span.border-top, ul.start-vmenu>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul.start-vmenu>li>a.active
{
   padding:0 15px;
   margin:0 auto;
   text-decoration: none;
   color: #5B9DBE;
}

ul.start-vmenu>li:after, ul.start-vmenu>li>ul:after{
   display: block;
   position: absolute;
   content: ' ';
   left: 0;
   right: 0;
   top: -1px;
}

ul.start-vmenu>li:after, ul.start-vmenu>li>ul:after{
   z-index: 1;
   height: 0;
   border-bottom: 1px solid #F9FAFB;
}

ul.start-vmenu>li:first-child:before, ul.start-vmenu>li:first-child:after 
{
   display:none;
}

ul.start-vmenu>li>ul:before
{
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul.start-vmenu li li a
{
   margin:0 auto;
   position: relative;
}
ul.start-vmenu ul li
{
   margin: 0;
   padding: 0;
}
ul.start-vmenu li li{
   position: relative;
   margin-top: 0;
}

ul.start-vmenu ul a
{
   display: block;
   position: relative;
   min-height: 22px;
   overflow: visible;
   padding: 0;
   padding-left: 27px;
   padding-right: 27px;
   z-index: 0;
   line-height: 22px;
   color: #5B9DBE;
   font-size: 14px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.start-vmenu ul a:visited, ul.start-vmenu ul a.active:hover, ul.start-vmenu ul a:hover, ul.start-vmenu ul a.active
{
   line-height: 22px;
   color: #5B9DBE;
   font-size: 14px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.start-vmenu ul ul a
{
   padding-left: 54px;
}
ul.start-vmenu ul ul ul a
{
   padding-left: 81px;
}
ul.start-vmenu ul ul ul ul a
{
   padding-left: 108px;
}
ul.start-vmenu ul ul ul ul ul a
{
   padding-left: 135px;
}

ul.start-vmenu ul>li>a:hover, ul.start-vmenu ul>li>a.active:hover
{
   margin:0 auto;
}
ul.start-vmenu ul li a:hover, ul.start-vmenu ul li a.active:hover
{
   text-decoration: none;
   color: #4AC3CC;
}

ul.start-vmenu ul a:hover:after
{
   background-position: center ;
}
ul.start-vmenu ul a.active:hover:after
{
   background-position: center ;
}
ul.start-vmenu ul a.active:after
{
   background-position: bottom ;
}

ul.start-vmenu ul>li>a.active
{
   margin:0 auto;
}
ul.start-vmenu ul a.active, ul.start-vmenu ul a:hover, ul.start-vmenu ul a.active:hover
{
   text-decoration: none;
   color: #5B9DBE;
}

.start-block
{
   padding:5px;
   margin:3px;
}
div.start-block img
{
   border: none;
   margin: 0;
}

.start-blockcontent
{
   margin:0 auto;
   color: #404040;
   font-size: 15px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}
.start-blockcontent table,
.start-blockcontent li, 
.start-blockcontent a,
.start-blockcontent a:link,
.start-blockcontent a:visited,
.start-blockcontent a:hover
{
   color: #404040;
   font-size: 15px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.start-blockcontent p
{
   margin: 0 5px;
}

.start-blockcontent a, .start-blockcontent a:link
{
   color: #5B9DBE;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.start-blockcontent a:visited, .start-blockcontent a.visited
{
   color: #5B9DBE;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.start-blockcontent a:hover, .start-blockcontent a.hover
{
   color: #4AC3CC;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.start-block li
{
   font-size: 15px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   color: #5B9DBE;
   margin: 5px 0 0 10px;
}

.start-breadcrumbs
{
   margin:0 auto;
}

a.start-button,
a.start-button:link,
a:link.start-button:link,
body a.start-button:link,
a.start-button:visited,
body a.start-button:visited,
input.start-button,
button.start-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 23px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.start-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .start-button
{
   display: block;
   float: left;
}

input, select, textarea, a.start-search-button span
{
   vertical-align: middle;
   font-size: 13px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.start-block select 
{
   width:96%;
}

input.start-button
{
   float: none !important;
}

.start-button.active, .start-button.active:hover
{
   background: #02AFDB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   padding:0 20px;
   margin:0 auto;
}
.start-button.active, .start-button.active:hover {
   color: #FFFFFF !important;
}

.start-button.hover, .start-button:hover
{
   background: #02AFDB;
   background: rgba(2, 175, 219, 0.94);
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   padding:0 20px;
   margin:0 auto;
}
.start-button.hover, .start-button:hover {
   color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border:1px solid #B9C2CB;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: auto;
   padding: 8px 0;
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.start-error, textarea.start-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.start-error, textarea.start-error {
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.start-search input[type="text"]
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border:1px solid #CCD6E0;
   margin:0 auto;
   width: 100%;
   padding: 8px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #343D46 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.start-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.start-search input, a.start-search-button
{
   top:0;
   right:0;
}

form.start-search>input, a.start-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.start-search input[type="submit"], input.start-search-button, a.start-search-button
{
   margin:0 auto;
}
form.start-search input[type="submit"], input.start-search-button, a.start-search-button {
   position:absolute;
   left:auto;
   display:block;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
   color: #FFFFFF !important;
   cursor: pointer;
}

a.start-search-button span.start-search-button-text {
   display: none;
}

label.start-checkbox:before
{
   background: #F9FAFB;
   background: linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: -webkit-linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: -moz-linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: -o-linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: -ms-linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   -svg-background: linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #CFD8E2;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
   vertical-align: top;
   content: ' ';
}
label.start-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #02AFDB !important;
   position: relative;
}

.start-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.start-checkbox.active:before
{
   background: #E3E3E3;
   background: linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: -webkit-linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: -moz-linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: -o-linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: -ms-linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   -svg-background: linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #02AFDB;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.start-checkbox.hovered:before
{
   background: #E3E3E3;
   background: linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: -webkit-linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: -moz-linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: -o-linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: -ms-linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   background: linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   -svg-background: linear-gradient(top, #F0F0F0 0, #F0F0F0 50%, #EDEDED 60%, #C4C4C4 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #02AFDB;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.start-radiobutton:before
{
   background: #F9FAFB;
   background: linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: -webkit-linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: -moz-linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: -o-linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: -ms-linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   background: linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   -svg-background: linear-gradient(top, #ECF0F4 0, #ECF0F4 50%, #E6EAF0 60%, #B2C1D1 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid #E2E8EE;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.start-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #02AFDB !important;
}

.start-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.start-radiobutton.active:before
{
   background: #B9C2CB;
   background: linear-gradient(top, #CDD4DA 0, #CDD4DA 50%, #CAD1D8 60%, #9EABB7 100%) no-repeat;
   background: -webkit-linear-gradient(top, #CDD4DA 0, #CDD4DA 50%, #CAD1D8 60%, #9EABB7 100%) no-repeat;
   background: -moz-linear-gradient(top, #CDD4DA 0, #CDD4DA 50%, #CAD1D8 60%, #9EABB7 100%) no-repeat;
   background: -o-linear-gradient(top, #CDD4DA 0, #CDD4DA 50%, #CAD1D8 60%, #9EABB7 100%) no-repeat;
   background: -ms-linear-gradient(top, #CDD4DA 0, #CDD4DA 50%, #CAD1D8 60%, #9EABB7 100%) no-repeat;
   background: linear-gradient(top, #CDD4DA 0, #CDD4DA 50%, #CAD1D8 60%, #9EABB7 100%) no-repeat;
   -svg-background: linear-gradient(top, #CDD4DA 0, #CDD4DA 50%, #CAD1D8 60%, #9EABB7 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid #E2E8EE;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.start-radiobutton.hovered:before
{
   background: #D9DEE3;
   background: linear-gradient(top, #EDF0F2 0, #EDF0F2 50%, #EAEDF0 60%, #BCC4CD 100%) no-repeat;
   background: -webkit-linear-gradient(top, #EDF0F2 0, #EDF0F2 50%, #EAEDF0 60%, #BCC4CD 100%) no-repeat;
   background: -moz-linear-gradient(top, #EDF0F2 0, #EDF0F2 50%, #EAEDF0 60%, #BCC4CD 100%) no-repeat;
   background: -o-linear-gradient(top, #EDF0F2 0, #EDF0F2 50%, #EAEDF0 60%, #BCC4CD 100%) no-repeat;
   background: -ms-linear-gradient(top, #EDF0F2 0, #EDF0F2 50%, #EAEDF0 60%, #BCC4CD 100%) no-repeat;
   background: linear-gradient(top, #EDF0F2 0, #EDF0F2 50%, #EAEDF0 60%, #BCC4CD 100%) no-repeat;
   -svg-background: linear-gradient(top, #EDF0F2 0, #EDF0F2 50%, #EAEDF0 60%, #BCC4CD 100%) no-repeat;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid #02AFDB;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.start-checkbox input[type="checkbox"]
{
   display: none;
}

label.start-checkbox.start-checked:after
{
   content: url('images/checkboxicon.png');
   position: absolute;
   left: 0;
   top: 0;
}

.start-comments
{
   border-top:1px dotted #A1ADBA;
   margin:0 auto;
   margin-top: 25px;
}

.start-comments h2
{
   color: #23292F;
}

.start-comment-inner
{
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:7px;
   margin:0 auto;
   margin-left: 96px;
}
.start-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:2px;
   background:#fff;
   border:1px solid #E2E8EE;
}

.start-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.start-comment-content
{
   padding:10px 0;
   color: #303F50;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-comment
{
   margin-top: 6px;
}

.start-comment:first-child
{
   margin-top: 0;
}

.start-comment-header
{
   color: #23292F;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.start-comment-header a, 
.start-comment-header a:link, 
.start-comment-header a:visited,
.start-comment-header a.visited,
.start-comment-header a:hover,
.start-comment-header a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.start-comment-header a, .start-comment-header a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   color: #758799;
}

.start-comment-header a:visited, .start-comment-header a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #758799;
}

.start-comment-header a:hover,  .start-comment-header a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #758799;
}

.start-comment-content a, 
.start-comment-content a:link, 
.start-comment-content a:visited,
.start-comment-content a.visited,
.start-comment-content a:hover,
.start-comment-content a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-comment-content a, .start-comment-content a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #CD4704;
}

.start-comment-content a:visited, .start-comment-content a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #3F5369;
}

.start-comment-content a:hover,  .start-comment-content a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #CD4704;
}

.start-pager
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:6px;
   margin:2px;
}

.start-pager>*:last-child,
.start-pager>*:last-child:hover
{
   margin-right:0;
}

.start-pager>span {
   cursor:default;
}

.start-pager>*
{
   background: #02AFDB;
   padding:3px;
   margin:0 4px 0 auto;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.start-pager a:link,
.start-pager a:visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FFFFFF
;
}

.start-pager .active
{
   background: #DD954F;
   padding:3px;
   margin:0 4px 0 auto;
   color: #FFFFFF
;
}

.start-pager .more
{
   margin:0 4px 0 auto;
}
.start-pager a.more:link,
.start-pager a.more:visited
{
   color: #FFFFFF
;
}
.start-pager a:hover
{
   background: #DD954F;
   padding:3px;
   margin:0 4px 0 auto;
}
.start-pager  a:hover,
.start-pager  a.more:hover
{
   text-decoration: none;
   color: #FFFFFF
;
}
.start-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.start-pager>*:last-child:after{
   display:none;
}

.start-commentsform
{
   background: #E2E8EE;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #23292F;
}

.start-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #23292F;
}

.start-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.start-commentsform input:not([type=submit]), .start-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.start-commentsform .form-submit
{
   margin-top: 10px;
}
.start-post
{
   padding:15px;
}
a img
{
   border: 0;
}

.start-article img, img.start-article, .start-block img, .start-footer img
{
   margin: 7px 7px 7px 7px;
}

.start-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.start-article table, table.start-article
{
   border-collapse: collapse;
   margin: 1px;
}

.start-post .start-content-layout-br
{
   height: 0;
}

.start-article th, .start-article td
{
   padding: 2px;
   border: solid 1px #EFF2F5;
   vertical-align: top;
   text-align: left;
}

.start-article th
{
   text-align: left;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.start-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.start-postheader
{
   color: #5B9DBE;
   margin: 5px 10px;
   font-size: 24px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.start-postheader a, 
.start-postheader a:link, 
.start-postheader a:visited,
.start-postheader a.visited,
.start-postheader a:hover,
.start-postheader a.hovered
{
   font-size: 24px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.start-postheader a, .start-postheader a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #5B9DBE;
}

.start-postheader a:visited, .start-postheader a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #5B9DBE;
}

.start-postheader a:hover,  .start-postheader a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #4AC3CC;
}

.start-postheadericons,
.start-postheadericons a,
.start-postheadericons a:link,
.start-postheadericons a:visited,
.start-postheadericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #5B9DBE;
}

.start-postheadericons
{
   padding: 1px;
   margin: 0 0 0 10px;
}

.start-postheadericons a, .start-postheadericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #5B9DBE;
}

.start-postheadericons a:visited, .start-postheadericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #5B9DBE;
}

.start-postheadericons a:hover, .start-postheadericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #4AC3CC;
}

.start-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .start-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.start-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .start-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.start-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .start-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.start-postcontent ul>li:before,  .start-post ul>li:before,  .start-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .start-postcontent ul>li:before, .opera   .start-post ul>li:before, .opera   .start-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.start-postcontent li, .start-post li, .start-textblock li
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #303F50;
   margin: 3px 0 0 11px;
}

.start-postcontent ul>li, .start-post ul>li, .start-textblock ul>li, .start-postcontent ol, .start-post ol, .start-textblock ol
{
   padding: 0;
}

.start-postcontent ul>li, .start-post ul>li, .start-textblock ul>li
{
   padding-left: 10px;
}

.start-postcontent ul>li:before,  .start-post ul>li:before,  .start-textblock ul>li:before
{
   margin-left: -10px;
}

.start-postcontent ol, .start-post ol, .start-textblock ol, .start-postcontent ul, .start-post ul, .start-textblock ul
{
   margin: 1em 0 1em 11px;
}

.start-postcontent li ol, .start-post li ol, .start-textblock li ol, .start-postcontent li ul, .start-post li ul, .start-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.start-postcontent li, .start-post li, .start-textblock li
{
   margin: 3px 0 0 0;
}

.start-postcontent ol>li, .start-post ol>li, .start-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.start-postcontent ul>li, .start-post ul>li, .start-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background:  url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 47px;
   margin:10px 0 0 25px;
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .start-postcontent blockquote a, .start-blockcontent blockquote a, .start-footer blockquote a,
blockquote a:link, .start-postcontent blockquote a:link, .start-blockcontent blockquote a:link, .start-footer blockquote a:link,
blockquote a:visited, .start-postcontent blockquote a:visited, .start-blockcontent blockquote a:visited, .start-footer blockquote a:visited,
blockquote a:hover, .start-postcontent blockquote a:hover, .start-blockcontent blockquote a:hover, .start-footer blockquote a:hover
{
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.start-postcontent blockquote p,
.start-blockcontent blockquote p,
.start-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.start-postfootericons,
.start-postfootericons a,
.start-postfootericons a:link,
.start-postfootericons a:visited,
.start-postfootericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #5B9DBE;
}

.start-postfootericons
{
   padding: 1px;
   margin: 0 0 0 10px;
}

.start-postfootericons a, .start-postfootericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #5B9DBE;
}

.start-postfootericons a:visited, .start-postfootericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #5B9DBE;
}

.start-postfootericons a:hover, .start-postfootericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #4AC3CC;
}

.start-postcommentsicon:before
{
   content:url('images/postcommentsicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .start-postcommentsicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.Sorter img
{
   border:0;
   vertical-align:middle;
   padding:0;
   margin:0;
   position:static;
   z-index:1;
   width: 12px;
   height: 6px;
}

.Sorter a
{
   position:relative;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #647587;
}

.Sorter a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #647587;
}

.Sorter a:visited, .Sorter a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #647587;
}

.Sorter a:hover, .Sorter a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #4C5967;
}

.Sorter
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color:#364049;
}

.start-footer
{
   background: #505252;
   padding:5px;
   margin:0 auto;
   position: relative;
   color: #E3E3E3;
   font-size: 13px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
}

.start-footer a,
.start-footer a:link,
.start-footer a:visited,
.start-footer a:hover,
.start-footer td, 
.start-footer th,
.start-footer caption
{
   color: #E3E3E3;
   font-size: 13px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.start-footer p 
{
   padding:0;
   text-align: center;
}

.start-footer a,
.start-footer a:link
{
   color: #E3E3E3;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.start-footer a:visited
{
   color: #E3E3E3;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.start-footer a:hover
{
   color: #4AC3CC;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.start-footer h1
{
   color: #8A99A8;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-footer h2
{
   color: #A1ADBA;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-footer h3
{
   color: #FA681E;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-footer h4
{
   color: #9CAFC4;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-footer h5
{
   color: #9CAFC4;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-footer h6
{
   color: #9CAFC4;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.start-footer img
{
   border: none;
   margin: 0;
}

.start-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:66px;
   min-width:66px;
   display: inline-block;
   text-indent: 69px;
   background-position: left center;
}

.start-rss-tag-icon:empty
{
   vertical-align: middle;
}

.start-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:33px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.start-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.start-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:33px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.start-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.start-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .start-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.start-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #FEE1D2;
}

.start-footer ul>li, .start-footer ol
{
   padding: 0;
}

.start-footer ul>li
{
   padding-left: 13px;
}

.start-page-footer, 
.start-page-footer a,
.start-page-footer a:link,
.start-page-footer a:visited,
.start-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #02AFDB;
}

.start-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #02AFDB;
}

.start-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.start-lightbox,
.start-lightbox-wrapper .start-lightbox-image
{
   cursor: pointer;
}

.start-lightbox-wrapper .start-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.start-lightbox-wrapper .start-lightbox-image.active
{
   display: inline-block;
}

.start-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.start-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.start-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.start-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.start-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.start-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.start-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.start-lightbox-wrapper .arrow-t, 
.start-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.start-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.start-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.start-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.start-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.start-lightbox-wrapper .close .cw, 
.start-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.start-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.start-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.start-lightbox-wrapper .close-alt, 
.start-lightbox-wrapper .arrow-right-alt, 
.start-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .start-lightbox-wrapper .close-alt, 
.ie8 .start-lightbox-wrapper .arrow-right-alt, 
.ie8 .start-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .start-lightbox-wrapper .cw, 
.ie8 .start-lightbox-wrapper .ccw 
{
   display: none;
}

.start-content-layout .start-sidebar1
{
   margin:0 auto;
   width: 200px;
}

.start-content-layout .start-content
{
   margin:0 auto;
}

.start-content-layout .start-sidebar2
{
   margin:0 auto;
   width: 200px;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */

/* BEGIN FCKEditor, CKEditor, TinyMCE modules support*/
/*body.start-body-nostyle, body.cke_show_borders, #tinymce body, #tinymce body.mceContentBody, body.mceContentBody, #edit-body
{
	background-image: none;
	background-color: {bgColor} !important;
	{editorFont}
}*/
/*
use editor.css
*/
/* END FCKEditor, CKEditor modules support*/

body.toolbar-drawer 
{
    padding-top: 65px !important;
}

table
{
	width: 100%;
}

ul li, .item-list ul li, .menu ul li,
ul li.expanded, ul li.leaf, ul li.collapsed,
li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	list-style-type: none;
	list-style-image: none;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	display: inline;
}

ul.arttabs_primary li:before, ul.arttabs_secondary li:before
{
    content: ' ';
	margin-left: 6px;
}

ul.links
{
	overflow: hidden;
}

ul.links li, .block ul
{
	background-image: none;
	padding: 0;
}

ul.menu li a.active
{
	font-weight: bold;
}

#tinymce body ul, #tinymce body.mceContentBody ul, body.mceContentBody ul
{
  margin: 1em 0 1em 2em;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.filefield-upload .start-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.start-block-body .start-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set background color for sticky table */
table.sticky-header
{
	background-color: {bgColor} !important;
}
/* END Set background color for sticky table */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb
{
	margin: 1em 0 0 0.7em;
}
/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.start-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.start-postcontent .calendar-calendar ul li, .start-postcontent .calendar-calendar ol ul li,
.start-postcontent div.view div.views-admin-links ul li, .start-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}

form.comment-form input[type="submit"], form.confirmation input[type="submit"]
{
	margin-right: 10px !important;
}

/* BEGIN Taxonomy terms Startup styles in Drupal 7 */
.start-tags, .start-tags .field, .start-tags .field .field-label,
.start-tags .field .field-items, .start-tags .field .field-items .field-item
{
	display: inline;
}

.start-tags .field-item a:after
{
	content: ', ';
}

.start-tags .field-item:last-child a:after
{
	content: '';
}
/* END Taxonomy terms Startup styles in Drupal 7 */

/* BEGIN Action links support in Drupal7 */
.start-post ul.action-links li
{
	background-image: none;
	list-style-type: none;
}

.start-post ul.action-links a
{
    background: url("images/addicon.png") no-repeat scroll 0 transparent;
    background-position: center left;
    line-height: 30px;
    padding-left: 15px;
}
/* END Action links support in Drupal7 */

/* BEGIN Overlay module support */
#overlay #overlay-content #start-page-background-middle-texture
{
    background-image: none;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover
{
    background-color: transparent;
    font-weight: normal; 
}
/* END Overlay module support */

/* BEGIN Front page list view support */
#first-time ol
{
    list-style-position: outside;
}
/* END Front page list view support */

/* BEGIN Rtl support in Admin menu */
#toolbar, #toolbar *
{
    text-align: left;
}

#toolbar ul li, #toolbar ul li a {
    float: left;
}
/* END Rtl support in Admin menu */

/* BEGIN Contextual links styles support */
ul.contextual-links li
{
   background-image: none !important;
   padding-left: 4px !important;
}

ul.contextual-links li a
{
   font-family: Arial !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-size: 12px !important;
   text-align: left !important;
   text-decoration: none !important;
}
/* END Contextual links styles support */

/* BEGIN Rtl support for Contextual links */
a.contextual-links-trigger
{
    text-indent: 90px !important;
}
/* END Rtl support for Contextual links */

/* BEGIN Superfish support */
.start-blockcontent .sf-menu.sf-style-default li 
{
    margin: 0;
    padding: 0;
}
/* END Superfish support */

.status, .status ul li
{   
    color: #234600;
}

.error, .error ul li
{
	color: #660000;
}

/* Begin Drupal Search style */
.start-header .start-search label
{
    display: none;
}

.start-search div.form-item
{
    margin: 0;
}

#block-system-main form.start-search
{
  line-height: normal !important;
}

.start-search .form-wrapper .action input[type="submit"],
.start-blockcontent .start-search .container-inline label,
.start-postcontent .start-search .container-inline label
{
  display: none;
}
/* End Drupal Search style */

.start-comment-avatar img
{
    margin: 0;
}

.start-comment-footer ul
{
    margin: 0 !important;
}

.start-comment-footer li:before
{
    content: ' ' !important;
}

.block {
    border-width: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}